@using CompData.ViewModels.Procedure.Library
@using CompData.ViewModels.Library
@using CompData.Models.Library
@model List<SelectedRegulationProcedure>
@{
    var defaultModel = Model.FirstOrDefault();
    ViewData["Title"] = "Regulation - " + defaultModel.RegTitle;
    var requirments = ViewBag.Requirments as SelectedRegulationRequirementViewModel;
    var detailTag = ViewBag.DetailTag as List<TagMap>
        ;
}

@section Styles {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/jstree/dist/themes/default/style.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <style>

        .SubOn {
            background-color: #f28c11;
            border-radius: 25px !important;
            padding: 3px 9px;
            font-size: 13px;
            line-height: 1.5;
            box-shadow: none !important;
            border: 1px solid #f28c11;
            color: #fff;
            outline: none;
        }

        .Suboff {
            background-color: #fff;
            border-radius: 25px !important;
            padding: 3px 9px;
            font-size: 13px;
            line-height: 1.5;
            box-shadow: none !important;
            border: 1px solid #f28c11;
            color: #f28c11;
            outline: none;
        }

        .btnclass {
            background-color: #fff;
            border-radius: 25px !important;
            padding: 3px 9px;
            font-size: 13px;
            line-height: 1.5;
            box-shadow: none !important;
            border: 1px solid #b9b9b9;
            color: #b9b9b9;
            outline: none;
        }

        .tag-highlight {
            font-weight: 400;
            background: #faebd7;
            padding: 2px;
            border: 1px solid #ffcb85;
        }
    </style>

}

<!-- BEGIN PAGE HEAD-->
<div class="page-content" style="background:#ffffff">
    <div class="container">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="search-page search-content-2">
                <div class="row">
                    <div class="col-md-8 portlet light ">
                        <div class="page-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom:12px">
                            <h1 style="font-size: 15px;width: 600px;">
                                <a data-toggle="modal" href="#SummaryMod" style="color: #22793e"><b>@defaultModel.RegTitle</b></a>
                            </h1>
                            <ul class="page-breadcrumb breadcrumb" style="margin-top: -10px; margin-bottom: -8px;">
                                <li>
                                    <a href="/" style="color: #a79b9b;font-size: 13px;">Home</a>
                                    <span>/</span>
                                </li>
                                <li>
                                    <a href="../Source/@defaultModel.SourceId" style="color: #a79b9b;font-size: 13px;">@defaultModel.FullName</a>
                                    <span>/</span>
                                </li>
                                <li>
                                    <a href="../Source/@defaultModel.SourceId/Type/@defaultModel.RegTypeId" style="color: #a79b9b;font-size: 13px;">@defaultModel.RegTypeName</a>
                                </li>
                            </ul>
                            <div style="float: right;margin-top: -50px !important;">
                                <button type="button" class="btnclass">
                                    <a href="@defaultModel.RegId/edit" data-toggle="modal" style="color:#b9b9b9">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                                </button>
                                <button type="button" class="btnclass">
                                    <a href="#RequirementMod" data-toggle="modal" style="color:#b9b9b9">
                                        <i class="fa fa-check-square-o"></i>
                                    </a>
                                    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                                </button>
                                <button type="button" class="SubOn" data-style="slide-down" data-spinner-color="#333" data-type="1" data-source="1" data-subs="">
                                    <span class="ladda-label">
                                        <i class="fa fa-rss"></i>
                                    </span>
                                    <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                                </button>


                            </div>
                        </div>
                        <div id="dvDetail">

                        </div>
                        <partial name="_RegulationDetail" model="Model" />

                    </div>
                    <div class="col-md-4" style="background-color: #f0f0f0">
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Search within Current Document</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <input type="text" class="form-control" placeholder="Enter search terms here" style="border-radius: 4px !important;" id="txtSearchTerms">
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px">
                                    <span class="bold">Sections</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div id="tree_1" class="tree-demo jstree jstree-1 jstree-default" role="tree" aria-multiselectable="true" tabindex="0" aria-activedescendant="j1_3" aria-busy="false" style="overflow: hidden;">
                                    <ul class="jstree-container-ul jstree-children" role="group">
                                        @foreach (var item in Model.Where(x => x.ParentId == null).Select(x => new { x.SectionId, x.SectionTitle, x.Sequence }).Distinct().OrderBy(x => x.Sequence))
                                        {
                                            var id = "j1_" + item.SectionId;
                                            var anchor = id + "_anchor";
                                            var anchorLink = "#" + @item.SectionTitle.Replace(" ", "_");
                                            <li role="treeitem" aria-selected="false" aria-level="1" aria-labelledby="@anchor" aria-expanded="true" id="@id" class="jstree-node  jstree-open" title="@item.SectionTitle">
                                                <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                <a class="jstree-anchor" href="@anchorLink" tabindex="-1" id="@anchor">
                                                    <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom" role="presentation"></i> @item.SectionTitle
                                                </a>
                                                @{
                                                    var filterData = Model.Where(x => x.ParentId.Equals(item.SectionId)).Select(x => new { x.SectionId, x.SectionTitle, x.Sequence }).Distinct().OrderBy(x => x.Sequence);
                                                }
                                                @if (filterData.Count() > 0)
                                                {
                                                    <ul role="group" class="jstree-children">
                                                        @foreach (var itemChild in filterData)
                                                        {
                                                            var childId = "j1_" + itemChild.SectionId;
                                                            var childAnchor = childId + "_anchor";
                                                            var childAnchorLink = "#" + @itemChild.SectionTitle.Replace(" ", "_");
                                                            <li role="treeitem" data-jstree='{ "type" : "file" }' aria-selected="true" aria-level="2" aria-labelledby="@childAnchor" id="@childId" class="jstree-node  jstree-leaf" title="@itemChild.SectionTitle">
                                                                <i class="jstree-icon jstree-ocl" role="presentation"></i>
                                                                <a class="jstree-anchor" href="@childAnchorLink" tabindex="-1" id="@childAnchor">
                                                                    <i class="jstree-icon jstree-themeicon fa fa-folder icon-state-warning icon-lg jstree-themeicon-custom" role="presentation"></i> @itemChild.SectionTitle
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Filter by Tags</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div data-period data-toggle="buttons">
                                    @if (detailTag.Count() > 0)
                                    {
                                        @foreach (var tag in detailTag.Select(x => x.Tag).Distinct())
                                        {
                                            //background: #ffffff; color: #888989;
                                            <label class="btn unselectedbtn" style="margin: 0px 4px 4px 0px; border-radius: 3px !important;">
                                                <input type="checkbox" data-detail value="@tag" class="toggle"> @tag
                                            </label>
                                        }
                                    }
                                    else
                                    {
                                        <p>No Tag Linked</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Related Regulations</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul>
                                    <li style="list-style:disc">Rules on Management of Problem Loans</li>
                                    <li style="list-style: disc">Account Opening Rules, 5th</li>
                                    <li style="list-style:disc">Enhancement In 18th Circular</li>
                                    <li style="list-style: disc">Bank Holiday at 1st August</li>
                                </ul>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>
            </div>
        </div>


        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<!-- END PAGE CONTENT BODY -->
<div class="modal fade bs-modal-lg" id="SummaryMod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="padding: 15px;">
                <div class="page-title" style="margin-top: -20px;">
                    <h3>
                        <a data-toggle="modal" href="#SummaryMod" style="color: #22793e;font-size: 14px;"><b>@defaultModel.RegTitle</b></a>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb" style="margin-top: -10px; margin-bottom: -8px;">
                        <li>
                            <a href="/" style="color: #a79b9b;font-size: 13px;">Home</a>
                            <span>/</span>
                        </li>
                        <li>
                            <a href="../Source/@defaultModel.SourceId" style="color: #a79b9b;font-size: 13px;">@defaultModel.FullName</a>
                            <span>/</span>
                        </li>
                        <li>
                            <a href="../Type/@defaultModel.SourceId-@defaultModel.RegTypeId" style="color: #a79b9b;font-size: 13px;">@defaultModel.RegTypeName</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">@defaultModel.Summary </div>
            <div style="text-align: center;">
                <button type="button" data-dismiss="modal" class="btn" style="background: #02502e; color: white; width: 342px; margin-bottom: 20px;">Cancel</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade bs-modal-lg" id="RequirementMod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="padding: 15px;">
                <div class="page-title" style="margin-top: -20px;">
                    <h3>
                        <a data-toggle="modal" href="#SummaryMod" style="color: #22793e;font-size: 14px;"><b>@defaultModel.RegTitle</b></a>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb" style="margin-top: -10px; margin-bottom: -8px;">
                        <li>
                            <a href="/" style="color: #a79b9b;font-size: 13px;">Home</a>
                            <span>/</span>
                        </li>
                        <li>
                            <a href="../Source/@defaultModel.SourceId" style="color: #a79b9b;font-size: 13px;">@defaultModel.FullName</a>
                            <span>/</span>
                        </li>
                        <li>
                            <a href="../Type/@defaultModel.SourceId-@defaultModel.RegTypeId" style="color: #a79b9b;font-size: 13px;">@defaultModel.RegTypeName</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">

                @if (requirments.SectionItemRequirement != null)
                {
                    @foreach (var itemChild in requirments.SectionItemRequirement)
                    {

                        <span>@(itemChild.CommentID + ".   " + itemChild.Requirement)</span><hr />
                    }
                }
                else
                {

                    <span>No requirement linked</span>

                }

            </div>
            <div style="text-align: center;">
                <button type="button" data-dismiss="modal" class="btn" style="background: #02502e; color: white; width: 342px; margin-bottom: 20px;">Cancel</button>
            </div>

        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts {
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/jstree/dist/jstree.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/pages/scripts/ui-tree.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-buttons-spinners.min.js" type="text/javascript"></script>


    <script type="text/javascript">
        $('[data-subs]').click(function () {
            var btnObj = this;
            var regId = $(btnObj).attr('data-regId');
            var l = Ladda.create(btnObj);
            l.start();
            $.post("/Library/Subscribe",
                { regId },
                function (response) {
                    if (response.status === 200) {
                        toastr.success(response.message);
                        if (response.message != "Regulation type has been subscribed.") {
                            $(btnObj).removeClass('SubOn').addClass('Suboff');
                        }
                        else {
                            $(btnObj).removeClass('Suboff').addClass('SubOn');
                        }
                    }
                    else {
                        toastr.error(response.message);
                    }
                }, "json")
                .always(function () { l.stop(); });
        });



        function getFilteredDetails() {
            var searchTerm = $('#txtSearchTerms').val();
            var detailTag = (@detailTag.Count() > 0 ? Array.from($('[data-detail]:checked').map(function () { return $(this).val() })) : []);
            $.get("/Library/_GetFilteredDetails",
                { id: @ViewBag.RegId, searchTerm: searchTerm, detailTag: detailTag },
                function (response) {
                        $('#dvDetail').html(response);
                }, "html");
        }

    </script>
    <script>
        $('[data-detail]').change(function () {
            getFilteredDetails();
        });



        $('#txtSearchTerms').change(function () {
            getFilteredDetails();
        });

    </script>
}
