@using CompData.Models.Library;
@{
    var detailTag = ViewBag.DetailTag as List<TagMap>;
    var bussinessLineTag = ViewBag.BussinessLineTag as List<TagMap>;
}

@section Styles {

    <link href="~/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
    <style>
        .table-scrollable {
            border: none !important;
        }

        .regulation-title {
            float: left;
            background: #fff;
            padding-right: 10px;
        }

        .ln {
            border-bottom: 1px dotted;
            margin-top: 10px;
        }

        .selectedbtn {
            background: #bf9000;
            color: white;
            margin-bottom: 4px;
            border-radius: 3px !important;
            margin-right: 5px;
        }

        .unselectedbtn {
            background: #ffffff;
            color: #888989;
            margin-bottom: 4px;
            border-radius: 3px !important;
            margin-right: 5px;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button {
            padding: 0px 0px !important;
        }

        .pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
            z-index: 3 !important;
            color: #fff !important;
            background-color: #02502e !important;
            border-color: #02502e !important;
            cursor: default !important;
        }

        .pagination > li > a, .pagination > li > span {
            position: relative;
            float: left;
            padding: 6px 12px;
            line-height: 1.42857;
            text-decoration: none;
            color: #666 !important;
            background-color: #fff;
            border: 1px solid #ddd;
            margin-left: -1px;
        }
        .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
            border: 1px solid lightgrey !important;
        }
    </style>
}


<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content" style="background:#ffffff">
    <div class="container">
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="search-page search-content-2">
                <div class="row">
                    <div class="col-md-8 portlet light ">
                        <!-- BEGIN PAGE TITLE -->
                        <div class="page-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom:12px">
                            <h3 style="color: #22793e;font-size: 14px;">
                                <b>Abc</b>
                            </h3>
                            <ul class="page-breadcrumb breadcrumb" style="margin-top: -10px; margin-bottom: -8px;">
                                <li>
                                    <a href="/" style="color: #a79b9b;font-size: 13px;">Home</a>
                                    <span>/</span>
                                </li>
                                <li>
                                    <a href="/Library/Source/Abc" style="color: #a79b9b;font-size: 13px;">Abc</a>
                                    <span>/</span>
                                </li>
                                <li>
                                    <span style="color: #a79b9b;font-size: 13px;">SDOIJS</span>
                                </li>
                            </ul>

                        </div>
                        <!-- END PAGE TITLE -->
                        <div class="search-container ">
                            <table id="tbType">
                                <thead style="display: none">
                                    <tr>
                                        <th style="width: 90%;"> Regulation Title </th>
                                        <th> Issue Date </th>
                                    </tr>
                                </thead>
                                @*<tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td style="width: 80%;">
                                                    <a href="/Library/Regulation/@item.RegId"><div class="regulation-title">@item.RegulationTitle</div><div class="ln"></div></a>
                                                </td>
                                                <td class="center" style="text-align: center;">@item.IssueDate.ToString("dd MMM yyyy")</td>
                                            </tr>
                                        }
                                    </tbody>*@
                            </table>
                        </div>
                    </div>
                    <div class="col-md-4" style="background-color: #f0f0f0">
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Search within Current Section</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Enter search terms here" style="border-radius: 4px !important;" id="txtSearchTerms">
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Filter by Period</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="form-group">
                                    <div class="btn-group" data-period data-toggle="buttons">
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2020" class="toggle"> 2020
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2019" class="toggle"> 2019
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2018" class="toggle"> 2018
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2017" class="toggle"> 2017
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2016" class="toggle"> 2016
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2015" class="toggle"> 2015
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2014" class="toggle"> 2014
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2013" class="toggle"> 2013
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="2012" class="toggle"> 2012
                                        </label>
                                        <label class="btn unselectedbtn">
                                            <input type="checkbox" data-year value="-1" class="toggle"> Older
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Filter by Business Line</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="btn-group" data-period data-toggle="buttons">
                                    @if (bussinessLineTag.Count() > 0)
                                    {
                                        @foreach (var tag in bussinessLineTag.Select(x => x.Tag).Distinct())
                                        {
                                            <label class="btn unselectedbtn">
                                                <input type="checkbox" data-bussinessLine value="@tag" class="toggle"> @tag
                                            </label>
                                        }
                                    }
                                    else
                                    {
                                        <p>No Tag Linked</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                        <!-- BEGIN PORTLET-->
                        <div style="background-color: #f0f0f0;padding: 12px 20px 0px">
                            <div class="portlet-title" style="border-bottom: 2px solid #b2b1aa;margin-bottom: 12px;">
                                <div style="color: #22793e;font-size: 14px;margin-top: 18px;">
                                    <span class="bold">Filter by Tags</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="btn-group" data-period data-toggle="buttons">
                                    @if (detailTag.Count() > 0)
                                    {
                                        @foreach (var tag in detailTag.Select(x => x.Tag).Distinct())
                                        {
                                            <label class="btn unselectedbtn">
                                                <input type="checkbox" data-detail value="@tag" class="toggle"> @tag
                                            </label>
                                        }
                                    }
                                    else
                                    {
                                        <p>No Tag Linked</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
@*<div class="modal fade bs-modal-lg" id="SummaryMod" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title">Summary</h4>
                </div>
                <div class="modal-body">s </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal"><a href="/Library/Regulation/5">Go to Regulation</a></button>
                </div>
            </div>
             /.modal-content
        </div>
         /.modal-dialog
    </div>*@

<div class="modal fade bs-modal-lg" id="SummaryMod" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div style="padding: 15px;">
                <div class="page-title" style="margin-top: -20px;">
                    <h3>
                        <a data-toggle="modal" href="#SummaryMod" style="color: #22793e;font-size: 14px;"><b>RegTitle</b></a>
                    </h3>
                    <ul class="page-breadcrumb breadcrumb" style="margin-top: -10px; margin-bottom: -8px;">
                        <li>
                            <a href="/" style="color: #a79b9b;font-size: 13px;">Home</a>
                            <span>/</span>
                        </li>
                        <li>
                            <a href="../Source/" style="color: #a79b9b;font-size: 13px;">SourceTotle</a>
                            <span>/</span>
                        </li>
                        <li>
                            <a href="../Type" style="color: #a79b9b;font-size: 13px;">RegTypeName</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="modal-body">Summary </div>
            <div style="text-align: center;">

                <a href="/Library/Regulation/5" class="btn" style="background: #02502e; color: white; width: 342px; margin-bottom: 20px;">Go to Regulation</a>
            </div>
        </div>
        @*/.modal-content*@
    </div>
    @*/.modal-dialog*@
</div>
<!-- END PAGE CONTENT BODY -->

@section Scripts {
    <script src="~/assets/global/scripts/datatable.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/table-datatables-managed.min.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            initDatatable()
        });
        //$('[data-detail]:checked')
        function initDatatable() {
            var searchTerm = $('#txtSearchTerms').val();
            var detailTag = (@detailTag.Count() > 0 ? Array.from($('[data-detail]:checked').map(function () { return $(this).val() })) : []);
            var bussinessLineTag = (@bussinessLineTag.Count() > 0 ? Array.from($('[data-bussinessLine]:checked').map(function () { return $(this).val() })) : []);
            var years = Array.from($('[data-year]:checked').map(function () { return $(this).val() }));

                $('#tbType').DataTable({
                "lengthChange": false,
                "searching": false,
                "pageLength": 25,
                "bJQueryUI": false,
                "dom": "lfrtip",
                "pagingType": "full_numbers",
                "serverSide": true,
                    "processing": true,
                    "ordering": false,
                "paging": true,
                "destroy": true,
                "autoWidth": false,
                "searchDelay": "800",
                "oLanguage": {
                    "search": "<span>Search:</span> ",
                    "info": "Showing <span>_START_</span> to <span>_END_</span> of <span>_TOTAL_</span> entries",
                    "lengthMenu": "_MENU_ <span>entries per page</span>"
                },
                "ajax": {
                    "type": "POST",
                    "url": "/Library/SourceGrid/",
                    "data": {
                        SourceId: @ViewBag.SourceId,
                        TypeId: @ViewBag.TypeId,
                        SearchTerm: searchTerm,
                        DetailTags: detailTag,
                        BussinessLineTags: bussinessLineTag,
                        Years: years
                    },
                    "dataSrc": function (json) {
                        console.log(json);
                        //if (json.recordsTotal == 0) _$.Notification('No record found !!!', 200);
                        return json.data;
                    }
                },
                "columns": [
                    { "data": "regulationTitle" },
                    { "data": "issueDate" },
                    { "data": "regId" },
                ],
                "columnDefs": [
                    {
                        orderable: false,
                        targets: 0,
                        render: function (data, type, full, meta) {
                            return '<a href="/Library/Regulation/' + full.regId + '" style="font-size:13px;color:#404040"><div class="regulation-title">' + full.regulationTitle + '</div><div class="ln"></div></a>';
                        }
                    },
                    {
                        orderable: false,
                        targets: 1,
                        render: function (data, type, full, meta) {
                            return '<div style="text-align:center;font-size:13px;color:#404040">' + full.issueDate + '</div>';
                        }
                    },
                    {
                        targets: 2,
                        visible: false
                    }
                ]
            });

        }

        $('[data-detail]').change(function () {
            initDatatable();
        });

        $('[data-year]').change(function () {
            initDatatable();
        });

        $('[data-bussinessLine]').change(function () {
            initDatatable();
        });

        $('#txtSearchTerms').change(function () {
            initDatatable();
        });


        function showSummary(RegID) {
            $("#SummaryMod").modal("show");


        }
    </script>
}