@model CRMWeb.Areas.Account.Models.LoginViewModel
@{
    Layout = null;
    ViewData["Title"] = "Login into your Account";

    var routeData = new Dictionary<string, string>
{
                { "returnUrl", "/" }
            };
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for " name="description" />
    <meta content="" name="author" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/css/begin.global.mandatory.style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/begin.page.level.plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/begin.theme.global.style.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/customcss/custom.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class=" login">
    <div class="logo">
    </div>
    <div class="logo">
    </div>
    <div class="content" style="background: #f0f0f0;min-height: 400px;">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" method="post">
            <h3 class="form-title" style="color: #227937;text-align: center;font-weight: 600;">BIBLIOTECH</h3>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9" asp-for="@Model.UserName">Username</label>
                <div class="input-icon">
                    <input class="form-control placeholder-no-fix" asp-for="@Model.UserName" autocomplete="off" placeholder="Username" style="text-align:center" />
                    <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9" asp-for="@Model.Password"></label>
                <div class="input-icon">
                    <input class="form-control placeholder-no-fix" asp-for="@Model.Password" autocomplete="off" placeholder="Password" style="text-align:center" />
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn" style="background: #02502e;color: white;width: 300px;margin-top: 10px">
                    Login
                </button>
                <a asp-controller="Registration" asp-all-route-data="routeData" id="register-btn" class="btn" style="background: #bf9000;color: white;width: 300px;margin-top: 10px">Sign Up</a>
            </div>

            <div class="forget-password">
                <h4 style="text-align: center;color:#368549"><a href="/Account/Login/ForgetPassword" id="forget-password"><u style="color: #227937;text-align: center;font-weight: 600;">Forgot Password</u></a></h4>
            </div>
        </form>
        <!-- END LOGIN FORM -->
    </div>
    <div class="copyright"> Copyright &copy; 2020. All Rights Reserved</div>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/core.plugins.min.js" type="text/javascript"></script>
    <script src="~/js/page.begin.level.plugins.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/login-4.min.js" type="text/javascript"></script>
</body>
</html>
