@using CRMData.Models.Identity
@inject UserManager<ApplicationUser> userManager
@model ApplicationUser
@{

    var roles = await userManager.GetRolesAsync(Model);
    var regulationSources = ViewBag.RegulationSources as List<CompData.Models.Library.RegulationSource>;
    var selectedRegulationSources = ViewBag.SelectedRegulationSources as List<CompData.Models.Library.RegulationSource>;
}

@section Styles {
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/bootstrap-fileinput/bootstrap-fileinput.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN THEME GLOBAL STYLES -->
    <link href="~/assets/global/css/components.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/global/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME GLOBAL STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="~/assets/pages/css/profile.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL STYLES -->
    <!-- BEGIN THEME LAYOUT STYLES -->
    <link href="~/assets/layouts/layout3/css/layout.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/layouts/layout3/css/themes/default.min.css" rel="stylesheet" type="text/css" id="style_color" />
    <link href="~/assets/layouts/layout3/css/custom.min.css" rel="stylesheet" type="text/css" />
    <!-- END THEME LAYOUT STYLES -->
    <link href="~/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="~/assets/global/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
}

<div class="page-container">
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <!-- BEGIN CONTENT BODY -->
        <!-- BEGIN PAGE HEAD-->
        <div class="page-head">
            <div class="container">
                <!-- BEGIN PAGE TITLE -->
                <div class="page-title">
                    <h1>User Profile</h1>
                </div>
                <!-- END PAGE TITLE -->
            </div>
        </div>
        <!-- END PAGE HEAD-->
        <!-- BEGIN PAGE CONTENT BODY -->
        <div class="page-content">
            <div class="container">
                <!-- BEGIN PAGE BREADCRUMBS -->
                <ul class="page-breadcrumb breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>User</span>
                    </li>
                </ul>
                <!-- END PAGE BREADCRUMBS -->
                <!-- BEGIN PAGE CONTENT INNER -->
                <div class="page-content-inner">
                    <div class="row">
                        <div class="col-md-12">
                            <!-- BEGIN PROFILE SIDEBAR -->
                            <div class="profile-sidebar">
                                <!-- PORTLET MAIN -->
                                <div class="portlet light profile-sidebar-portlet ">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="../assets/pages/media/profile/profile_user.jpg" class="img-responsive" alt="">
                                    </div>
                                    <!-- END SIDEBAR USERPIC -->
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name"> @Model.FullName </div>
                                        <div class="profile-usertitle-job"> @string.Join(" | ", roles) </div>
                                    </div>
                                    <!-- END SIDEBAR USER TITLE -->
                                    <!-- SIDEBAR BUTTONS -->
                                    <div class="profile-userbuttons">
                                        <button type="button" class="btn btn-circle green btn-sm">Follow</button>
                                    </div>
                                    <!-- END SIDEBAR BUTTONS -->
                                    <!-- SIDEBAR MENU -->
                                    <div class="profile-usermenu">
                                        <ul class="nav">
                                            <li>
                                                <a href="/Account/User?userId=@ViewBag.UserId">
                                                    <i class="icon-home"></i> Overview
                                                </a>
                                            </li>
                                            <li class="active">
                                                <a href="#">
                                                    <i class="icon-settings"></i> Account Settings
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- END MENU -->
                                </div>
                                <!-- END PORTLET MAIN -->
                                <!-- PORTLET MAIN -->
                                <div class="portlet light ">
                                    <!-- STAT -->
                                    <div class="row list-separated profile-stat">
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 37 </div>
                                            <div class="uppercase profile-stat-text"> Projects </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 51 </div>
                                            <div class="uppercase profile-stat-text"> Tasks </div>
                                        </div>
                                        <div class="col-md-4 col-sm-4 col-xs-6">
                                            <div class="uppercase profile-stat-title"> 61 </div>
                                            <div class="uppercase profile-stat-text"> Uploads </div>
                                        </div>
                                    </div>
                                    <!-- END STAT -->
                                    <div>
                                        <h4 class="profile-desc-title">About @Model.FullName</h4>
                                        <span class="profile-desc-text"> @Model.About </span>
                                        <div class="margin-top-20 profile-desc-link">
                                            <i class="fa fa-linkedin"></i>
                                            <a href="@Model.WebsiteURL">Linkedin</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- END PORTLET MAIN -->
                            </div>
                            <!-- END BEGIN PROFILE SIDEBAR -->
                            <!-- BEGIN PROFILE CONTENT -->
                            <div class="profile-content">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="portlet light ">
                                            <div class="portlet-title tabbable-line">
                                                <div class="caption caption-md">
                                                    <i class="icon-globe theme-font hide"></i>
                                                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                                                </div>
                                                <ul class="nav nav-tabs">
                                                    <li class="active">
                                                        <a href="#tab_1_1" data-toggle="tab" aria-expanded="true">Personal Info</a>
                                                    </li>
                                                    <li>
                                                        <a href="#tab_1_2" data-toggle="tab" aria-expanded="true">Regulatory Preferences</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="portlet-body">
                                                <div class="tab-content">
                                                    <!-- PERSONAL INFO TAB -->
                                                    <div class="tab-pane active" id="tab_1_1">
                                                        <form role="form" action="#">
                                                            <div class="form-group">
                                                                <label class="control-label">Full Name</label>
                                                                <input type="text" data-name placeholder="Your Full Name" value="@Model.FullName" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Personal Number</label>
                                                                <input type="text" data-contact placeholder="Your Personal Contact" value="@Model.PhoneNumber" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Designation</label>
                                                                <input type="text" data-designation placeholder="Your Designation" value="@Model.Designation" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">About</label>
                                                                <textarea class="form-control" data-about rows="3" placeholder="About Your Job Experience">@Model.About</textarea>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Linkden</label>
                                                                <input type="text" data-link placeholder="Your Linkedin Profile Link" value="@Model.WebsiteURL" class="form-control">
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="control-label">Is User Enable?</label>
                                                                <br />
                                                                @if (Model.IsActive)
                                                                {
                                                                    <input type="checkbox" data-isActive checked class="make-switch" id="test" data-size="mini">
                                                                }
                                                                else
                                                                {
                                                                    <input type="checkbox" data-isActive class="make-switch" id="test" data-size="mini">
                                                                }

                                                            </div>
                                                            <div class="margiv-top-10">
                                                                <a href="javascript:;" data-save class="btn green"> Save Changes </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END PERSONAL INFO TAB -->
                                                    <!-- REGULATORY INFO TAB -->
                                                    <div class="tab-pane" id="tab_1_2">
                                                        <form role="form" action="#">
                                                            <div class="form-group">
                                                                <select id="seletedsource" class="form-control select2-multiple select2-hidden-accessible" multiple="" name="SourceIds" tabindex="-1" aria-hidden="true">
                                                                    @foreach (var item in regulationSources)
                                                                    {
                                                                        if (selectedRegulationSources.Contains(item))
                                                                        {
                                                                            <option selected value="@item.SourceId">@item.FullName</option>
                                                                        }
                                                                        else
                                                                        {
                                                                            <option value="@item.SourceId">@item.FullName</option>
                                                                        }
                                                                    }
                                                                </select>
                                                            </div>
                                                            <div class="margiv-top-10">
                                                                <a href="javascript:;" data-save-regulatory class="btn green"> Save Regulatory </a>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <!-- END REGULATORY INFO TAB -->
                                                    <!-- CHANGE AVATAR TAB -->
                                                    @*<div class="tab-pane" id="tab_1_2">
                                                            <p>
                                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa
                                                                nesciunt laborum eiusmod.
                                                            </p>
                                                            <form action="#" role="form">
                                                                <div class="form-group">
                                                                    <div class="fileinput fileinput-new" data-provides="fileinput">
                                                                        <div class="fileinput-new thumbnail" style="width: 200px; height: 150px;">
                                                                            <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="">
                                                                        </div>
                                                                        <div class="fileinput-preview fileinput-exists thumbnail" style="max-width: 200px; max-height: 150px;"> </div>
                                                                        <div>
                                                                            <span class="btn default btn-file">
                                                                                <span class="fileinput-new"> Select image </span>
                                                                                <span class="fileinput-exists"> Change </span>
                                                                                <input type="file" name="...">
                                                                            </span>
                                                                            <a href="javascript:;" class="btn default fileinput-exists" data-dismiss="fileinput"> Remove </a>
                                                                        </div>
                                                                    </div>
                                                                    <div class="clearfix margin-top-10">
                                                                        <span class="label label-danger">NOTE! </span>
                                                                        <span>Attached image thumbnail is supported in Latest Firefox, Chrome, Opera, Safari and Internet Explorer 10 only </span>
                                                                    </div>
                                                                </div>
                                                                <div class="margin-top-10">
                                                                    <a href="javascript:;" class="btn green"> Submit </a>
                                                                    <a href="javascript:;" class="btn default"> Cancel </a>
                                                                </div>
                                                            </form>
                                                        </div>*@
                                                    <!-- END CHANGE AVATAR TAB -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- END PROFILE CONTENT -->
                        </div>
                    </div>
                </div>
                <!-- END PAGE CONTENT INNER -->
            </div>
        </div>
        <!-- END PAGE CONTENT BODY -->
        <!-- END CONTENT BODY -->
    </div>
    <!-- END CONTENT -->
</div>
@section Scripts {

    <!-- BEGIN CORE PLUGINS -->
    <script src="~/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <!-- END THEME GLOBAL SCRIPTS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    @*<script src="~/assets/pages/scripts/profile.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/assets/global/plugins/select2/js/select2.full.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/assets/pages/scripts/components-select2.min.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script type="text/javascript">
        function updateProfileData()
        {
            var email = '@Model.Email';
            var name = $('[data-name]').val();
            var contact = $('[data-contact]').val();
            var designation = $('[data-designation]').val();
            var about = $('[data-about]').val();
            var link = $('[data-link]').val();
            var isActive = $('[data-isactive]').is(':checked');

            var postData = {
                userEmail: email,
                fullName: name,
                phone: contact,
                isActive: isActive,
                designation: designation,
                about: about,
                websiteURL: link
            };

            $.post("/Account/User/UpdateUserProfileData/",
                postData,
                function (response) {
                    if (response.status === 200) {

                    }
                    else {

                    }
                }, "json");
        }


        function updateRegulatoryPreferences()
        {
            var email = '@Model.Email';
            var options = $('#seletedsource > option:selected');
            if (options.length == 0) {
                alert('No Value Selected');
                return false;
            }
            else if (options.length != 3) {
                alert('Please Select 3 Source');
                return false;
            }

            var postData = {
                userEmail: email,
                userEmail: options
            };

            $.post("/Account/User/UpdateSelectedSource/",
                postData,
                function (response) {
                    if (response.status === 200) {

                    }
                    else {

                    }
                }, "json");
        }

        $('[data-save]').click(function () {
            updateProfileData();
        });

        $('[data-save-regulatory]').click(function () {
            updateProfileData();
        });

    </script>
}