@model CRMWeb.Areas.Account.Models.RegisterViewModel
@inject CRMData.Configurations.Extensions.Utility utility
@{
    Layout = null;
    ViewData["Title"] = "Register";
    string termsCondition = utility.GetAppSetting(AppSettings.TermsAndCondition);
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="Preview page of Metronic Admin Theme #4 for " name="description" />
    <meta content="" name="author" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    <link href="~/css/begin.global.mandatory.style.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/begin.page.level.plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="~/css/begin.theme.global.style.min.css" rel="stylesheet" id="style_components" type="text/css" />
    <link href="~/assets/pages/css/login-4.min.css" rel="stylesheet" type="text/css" />

    <link rel="shortcut icon" href="favicon.ico" />
</head>

<body class=" login">
    <div class="logo">
        <a href="index.html">
            @*<img src="https://www.tpllife.com/wp-content/uploads/2018/06/TPL-Life.png" width="200" alt="">*@
        </a>
    </div>
    <div class="content">
        <!-- BEGIN REGISTRATION FORM -->
        <div asp-validation-summary="All" class="text-danger"></div>
        <form class="create-account" method="post">
            <h3>@ViewData["Title"]</h3>
            <p> Enter your account details below: </p>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9" asp-for="@Model.UserName"></label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" asp-for="@Model.UserName" autocomplete="off" placeholder="Username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9" asp-for="@Model.Password"></label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" asp-for="@Model.Password" autocomplete="off" id="register_password" placeholder="Password" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9" asp-for="@Model.ConfirmPassword">Re-type Your Password</label>
                <div class="controls">
                    <div class="input-icon">
                        <i class="fa fa-check"></i>
                        <input class="form-control placeholder-no-fix" asp-for="@Model.ConfirmPassword" autocomplete="off" placeholder="Re-type Your Password" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" required name="tnc" /> I agree to the
                    <a data-toggle="modal" href="#basic">Terms of Service</a>
                    <span></span>
                </label>
                <div id="register_tnc_error"> </div>
            </div>
            <div class="form-actions">
                <a id="register-back-btn" asp-controller="Login" class="btn red btn-outline"> Back </a>
                <button type="submit" id="register-submit-btn" class="btn green pull-right"> Sign Up </button>
            </div>
        </form>
        <div class="modal fade in" id="basic" tabindex="-1" role="basic" aria-hidden="true" style="display: none; padding-right: 17px;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Terms of Service</h4>
                    </div>
                    <div class="modal-body">@Html.Raw(termsCondition)</div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- END REGISTRATION FORM -->
    </div>
    <div class="copyright"> Copyright &copy; 2020. All Rights Reserved</div>
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/core.plugins.min.js" type="text/javascript"></script>
    <script src="~/js/page.begin.level.plugins.min.js" type="text/javascript"></script>
    <script src="~/assets/global/scripts/app.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/login-4.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-modals.min.js" type="text/javascript"></script>
</body>
</html>

