@using CompData.ViewModels.Library
@model List<GetAllRegulationGroupBySourceViewModel>
@{
    ViewData["Title"] = "Home Page";

    var sources = ViewBag.Sources as List<CompData.Models.Library.RegulationSource>;
    var updatedRegulation = ViewBag.UpdatedRegulation as List<CompData.Models.Library.Regulation>;
    var subscribedRegType = ViewBag.SubscribedRegType as List<int>;
}

@section Styles {

    <link href="~/assets/global/plugins/ladda/ladda-themeless.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-toastr/toastr.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" type="text/css" />
    <style>
        .validation {
            outline: 1px solid red !important;
        }

        .SubOn {
            background-color: #f28c11;
            border-radius: 25px !important;
            padding: 3px 9px;
            font-size: 13px;
            line-height: 1.5;
            box-shadow: none !important;
            border: 1px solid #f28c11;
            color: #fff;
            outline: none;
        }

        .Suboff {
            background-color: #fff;
            border-radius: 25px !important;
            padding: 3px 9px;
            font-size: 13px;
            line-height: 1.5;
            box-shadow: none !important;
            border: 1px solid #f28c11;
            color: #f28c11;
            outline: none;
        }
    </style>
}


<!-- BEGIN PAGE CONTENT BODY -->
<div class="page-content" style="background:#ffffff">
    <div class="container">
        <div class="page-title">

            <ul class="page-breadcrumb breadcrumb">
                @foreach (var source in sources)
                {
                    var routeData = new Dictionary<string, string> { { "sourceId", source.SourceId.ToString() } };
                    <li>
                        <h3>
                            @if (source.SourceId.Equals(ViewBag.SourceSelected))
                            {
                                <a asp-controller="Home" asp-action="Index" asp-all-route-data="routeData" style="color: #22793e;font-size: 15px;"><b><u>@source.FullName</u></b></a>
                            }
                            else
                            {
                                <a asp-controller="Home" asp-action="Index" asp-all-route-data="routeData" style="font-size:15px;color:#b2b1aa;font-weight:500">@source.FullName</a>
                            }
                            <small>|</small>
                        </h3>
                    </li>
                }
            </ul>
        </div>
        <!-- BEGIN PAGE CONTENT INNER -->
        <div class="page-content-inner">
            <div class="search-page search-content-2">
                <div class="row">
                    <div class="col-md-8 portlet light ">
                        @foreach (var sourceItem in Model)
                        {
                            <div class="col-md-6" style="min-height: 400px">
                                <div class="portlet light">
                                    <div class="portlet-title" style="border-bottom: 3px solid #bfbfbf;">
                                        <div class="caption">
                                            <span class="bold uppercase" style="color: #22793e;font-size: 14px;">@sourceItem.TypeTitle</span>
                                        </div>
                                        <div style="float: right; display: inline-block;">
                                            <button type="button" data-type="@sourceItem.TypeId" data-source="@ViewBag.DefaultSourceId" data-regulation-modal data data-style="slide-down" data-spinner-color="#333" style="background-color: #fff;border-radius: 25px!important;padding: 3px 9px;font-size: 13px;line-height: 1.5;box-shadow: none!important;border: 1px solid #f28c11;color: #f28c11;outline: none;">
                                                <span class="ladda-label">
                                                    <i class="fa fa-plus-circle"></i>
                                                </span>
                                                <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                                            </button>
                                            @{
                                                var cssSubsStyle = subscribedRegType.Contains(sourceItem.TypeId) ? "SubOn" : "Suboff";
                                            }
                                            <button type="button" class="@cssSubsStyle" data-style="slide-down" data-spinner-color="#333" data-type="@sourceItem.TypeId" data-source="@ViewBag.DefaultSourceId" data-subs>
                                                <span class="ladda-label">
                                                    <i class="fa fa-rss"></i>
                                                </span>
                                                <span class="ladda-spinner"></span><div class="ladda-progress" style="width: 0px;"></div>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <ul>
                                            @foreach (var Regulation in sourceItem.RegulationsList.OrderByDescending(x => x.Views))
                                            {
                                                <li>
                                                    <a href="Library/Regulation/@Regulation.RegulationId" style="font-size:12px;color:#404040">@Regulation.RegulationTitle</a>
                                                </li>
                                            }
                                        </ul>
                                        <small><a href="Library/Source/@ViewBag.DefaultSourceId/Type/@sourceItem.TypeId" style="font-size:12px;color:#a9a5bf">See all @sourceItem.TotalRegulation documents</a></small>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                    <div class="col-md-4">
                        <!-- BEGIN PORTLET-->
                        <div class="portlet light " style="background: #f0f0f0;">
                            <div class="portlet-title" style="border-bottom: 3px solid #bfbfbf;">
                                <div class="caption">
                                    <span class="bold uppercase" style="color: #22793e;font-size: 14px;">Recently Updated</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <ul>
                                    @foreach (var Regulation in updatedRegulation)
                                    {
                                        <li>
                                            <a href="Library/Regulation/@Regulation.RegId" style="font-size:12px;color:#404040">@Regulation.RegulationTitle</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        <!-- END PORTLET-->
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT INNER -->
    </div>
</div>
<div id="modalSaveRegulation" class="modal fade modal-scroll in" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content" style="background-color: #f0f0f0;">
            <div class="modal-header">
                <h3 class="form-title" style="color: #227937;text-align: center;font-weight: 600;">Create Regulation</h3>
                <p style="color: #227937;text-align: center;margin-top:-5px"> Enter Regulation Description </p>
            </div>
            <div class="modal-body" style="padding: 0px 27px 0px 27px">
                <form role="form">
                    <input type="hidden" id="input-type" />
                    <input type="hidden" id="input-source" />
                    <div class="form-body">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Reference Number" id="input-reference" style="border-radius: 4px !important;">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Title" id="input-title" style="border-radius: 4px !important;">
                        </div>
                        <div class="form-group">
                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                <input type="text" class="form-control" readonly="" placeholder="Issue Date" id="input-issueDate" style="background-color: #ffffff; border-radius: 4px !important;">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="mt-checkbox-inline">
                                <label class="mt-checkbox" style="color: #227937">
                                    <input type="checkbox" id="input-isFinal">This is the final version
                                    <span style="border: 1px solid #919191;"></span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group date date-picker" data-date-format="dd-mm-yyyy" data-date-start-date="+0d">
                                <input type="text" class="form-control" readonly="" placeholder="Effective Date" id="input-effectiveDate" style="background-color: #ffffff;border-radius: 4px !important;">
                                <span class="input-group-btn">
                                    <button class="btn default" type="button">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div style="background-color: transparent;clear: both;border: 0;padding: 0 60px 27px;margin-left: -30px;margin-right: -30px;">
                <button type="button" class="btn" data-save-regulation style="background: #02502e;color: white;width: 342px;margin-top: 10px">Submit</button>
                <button type="button" data-dismiss="modal" class="btn" style="background: #bf9000;color: white;width: 342px;margin-top: 10px">Cancel</button>

            </div>
        </div>
    </div>
</div>
<div id="confirmModal" class="modal fade modal-scroll in" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog" style="width: 400px">
        <div class="modal-content" style="background-color: #f0f0f0;">
            <div class="modal-header">
                <h3 class="form-title" style="color: #227937;text-align: center;font-weight: 600;">Success</h3>
            </div>
            <div class="modal-body" style="padding: 0px 27px 0px 27px">
                <p style="color: #227937;text-align: center;margin-top:-5px"> Regulation created successfully. Do you wish to populate it now? </p>
            </div>
            <div style="background-color: transparent;clear: both;border: 0;padding: 0 60px 27px;margin-left: -30px;margin-right: -30px;">
                <button type="button" data-dismiss="modal" class="btn" style="background: #bf9000;color: white;width: 342px;margin-top: 10px">Later</button>
                <button type="button" class="btn" style="background: #02502e;color: white;width: 342px;margin-top: 10px" onclick="redirectToRegulation()">Continue now</button>
            </div>
        </div>
    </div>
</div>

<!-- END PAGE CONTENT BODY -->

@section Scripts {
    <script src="~/assets/global/plugins/bootstrap-toastr/toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-toastr.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ladda/spin.min.js" type="text/javascript"></script>
    <script src="~/assets/global/plugins/ladda/ladda.min.js" type="text/javascript"></script>
    <script src="~/assets/pages/scripts/ui-buttons-spinners.min.js" type="text/javascript"></script>
    @*<script src="~/assets/pages/scripts/ui-extended-modals.min.js" type="text/javascript"></script>*@
    <script src="~/assets/global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js" type="text/javascript"></script>

    <script type="text/javascript">

        var regulation = {
            id: '',
            referenceNumber: '',
            title: '',
            issueDate: '',
            isFinal: '',
            effectiveDate: '',
            sourceId: '',
            typeId: ''
        };

        function redirectToRegulation() {
            window.location.href = "/Library/Regulation/" + regulation.id + "/Edit";

        }
        $('[data-regulation-modal]').click(function () {
            var btnObj = this;
            var sourceId = $(btnObj).attr('data-source');
            var typeId = $(btnObj).attr('data-type');
            $('#input-source').val(sourceId);
            $('#input-type').val(typeId);
            $('#modalSaveRegulation').modal('show');
        });

        $('[data-save-regulation]').click(function () {
            var referenceNumber = $('#input-reference');
            var title = $('#input-title');
            var issueDate = $('#input-issueDate');
            var isFinal = $('#input-isFinal').is(':checked');
            var effectiveDate = $('#input-effectiveDate');
            var sourceId = $('#input-source');
            var typeId = $('#input-type');

            if (!(referenceNumber.val() && title.val() && effectiveDate.val() && issueDate.val())) {
                toastr.error('Fill all fields to continue.');
                return;
            }

            regulation.referenceNumber = referenceNumber.val();
            regulation.title = title.val();
            regulation.issueDate = issueDate.val();
            regulation.isFinal = isFinal;
            regulation.effectiveDate = effectiveDate.val();
            regulation.sourceId = sourceId.val();
            regulation.typeId = typeId.val();
            $.post("/Library/SaveRegulation", regulation,
                function (response) {
                    if (response.status === 200) {
                        regulation.id = response.data;
                        $('#modalSaveRegulation').modal('hide');
                        toastr.success(response.message);
                        $('#confirmModal').modal('show');
                    }
                    else {
                        toastr.error(response.message);
                    }
                }, "json");

        });

        $('[data-regulation]').click(function () {
            var btnObj = this;
            var typeId = $(btnObj).attr('data-type');
            var sourceId = $(btnObj).attr('data-source');
            $('#modalSaveRegulation').modal('show');
        });

        $('[data-subs]').click(function () {
            debugger;
            var btnObj = this;
            var typeId = $(btnObj).attr('data-type');
            var sourceId = $(btnObj).attr('data-source');
            var l = Ladda.create(btnObj);
            l.start();
            $.post("/Library/SubscribeByUser",
                {
                    typeId: typeId,
                    sourceId: sourceId
                },
                function (response) {
                    if (response.status === 200) {
                        toastr.success(response.message);
                        if (response.message != "Regulation type has been subscribed.") {
                            $(btnObj).removeClass('SubOn').addClass('Suboff');
                        }
                        else {
                            $(btnObj).removeClass('Suboff').addClass('SubOn');
                        }
                    }
                    else {
                        toastr.error(response.message);
                    }
                }, "json")
                .always(function () { l.stop(); });
        });
    </script>
}